.title-28 {
    font-size: 28px;
    font-weight: bold;
}
.title-24 {
    font-size: 24px;
    font-weight: bold;
}
.title-20 {
    font-size: 20px;
    font-weight: bold;
}
.title-16 {
    font-size: 16px;
    font-weight: bold;
}
.title-14 {
    font-size: 14px;
    font-weight: bold;
}