@import 'global.less';
:root {
  --header-cell-background-color: @theme-table-header-color;
  --header-cell-color: @primary-font-color;
  --header-cell-font-weight: 600;
  --primary-font-color: @primary-font-color;
  --theme-main-color: #2f54eb;
  --theme-secondary-color: @theme-secondary-color;
  --theme-chosen-color: @theme-chosen-color;
  --theme-table-header-color: @theme-table-header-color;
}
.title-28 {
  color: @primary-font-color;
  font-size: 28px;
  font-weight: 600;
}
.title-24 {
  color: @primary-font-color;
  font-size: 24px;
  font-weight: 600;
}
.title-20 {
  color: @primary-font-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.title-16 {
  color: @primary-font-color;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.title-14 {
  color: @primary-font-color;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.link {
  color: #2f65eb;
  cursor: pointer;
}
.el-button-orange{
  border-color: #FF954D;
  background-color: #FF954D;
  color: #fff;
  &:hover{
    opacity: .9;
    background-color: #FF954D;
    color: #fff;
  }
  &:active, &:focus, &:visited{
    background-color: #FF954D;
    border-color: #FF954D;
    color: #fff;
  }
}
.el-button-tiny{
  padding: 5px 10px;
  font-size: 12px;
}
.pay-message-input .el-textarea__inner:focus{
  border: 1px solid #dcdfe6;
}
.el-dialog-w500{
  min-width: 500px;
}
.el-dialog-w700{
  min-width: 400px;
  max-width: 700px;
}
.home-link.el-input.is-disabled .el-input__inner{
  cursor: initial;
}
.icon-item-upload .el-upload .avatar-uploader-icon {
  font-size: 14px;
  color: #8c939d;
  width: 40px!important;
  height: 40px!important;
  line-height: 40px;
  text-align: center;
}